@import url("reset.css");
@import url("main.css");
@import url("input.css");
@import url("output.css");
@import url("options.css");

:root {
    --form-blue: rgb(0, 225, 255);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


body > .title {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 5px 1px 3px rgba(0,0,0,0.1);
}